<!doctype html>
<html>
<head>
<!--{include file="../Common/head.html"}-->
</head>
<body>
<div class="wrap J_check_wrap">
	<div class="nav">
		<div class="return"><a href="/expert/list">返回上一级</a></div>
		<ul class="cc">
			<li class="current"><a href="#"><!--{if $expertinfo}-->(<!--{$expertinfo.name}-->)<!--{/if}-->课程管理</a></li>
		</ul>
	</div>
	<div class="h_a">提示信息</div>
	<div class="mb10 prompt_text">
		<ol>
			<li>可以对课程的基本信息进行管理。</li>
		</ol>
	</div>
	<div class="mb10"><a class="btn" href="/class/add<!--{if $expertid}-->/expertid/<!--{$expertid}--><!--{/if}-->" title="添加课程" role="button"><span class="add"></span>添加课程</a></div>
	<div class="h_a">搜索</div>
	<div class="search_type cc mb10">
		<form action="/class/list" method="get">
		<input type="hidden" value="<!--{$expertid}-->" name="expertid"/>
		<label>编号：</label><input name="classid" type="number" class="input length_1 mr10" value="<!--{$classid}-->"> 
		<label>课程名：</label><input name="classname" type="text" class="input length_2 mr10" value="<!--{$classname}-->">
		<button type="submit" class="btn">搜索</button>
		</form>
	</div>
	<!--{if $list }-->
	<div class="table_list">
		<table width="100%">
			<thead>
				<tr>
					<td><label><input class="J_check_all" data-checklist="J_check_x" data-direction="x" type="checkbox">全选</label></td>
					<td width="30">编号</td>
					<td>课程名</td>
					<td>课程分类</td>
					<td>课程作者/来源</td>
					<td>课时数</td>
					<td>课时列表</td>
					<td>是否完结</td>
					<td>是否发布</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody id="J_tag_list">
		<!--{foreach from=$list item=class key=key}-->
			<tr>
				<td><input class="J_check" name="class_id[]" value="<!--{$class.id}-->" data-name="" data-tid="<!--{$class.name}-->" data-xid="J_check_x" data-yid="J_check_y" type="checkbox"></td>
				<td><!--{$class.id}--></td>
				<td><!--{$class.name}--></td>
				<td><!--{$class.category}--></td>
				<td><!--{$class.author}--></td>
				<td><!--{$class.lesson_count}--></td>
				<td><a href="/lesson/list?classid=<!--{$class.id}--><!--{if $expertid}-->&expertid=<!--{$expertid}--><!--{/if}-->">[课时列表]</a></td>
				<td><!--{if $class.is_complete == 0}-->未完结<!--{else}-->已完结<!--{/if}--></td>
				<td><!--{if $class.pub_status==0}-->未发布<!--{else}-->已发布<!--{/if}--></td>
				<td>
					<a href="/class/edit?classid=<!--{$class.id}-->" class="mr10" title="编辑">[编辑]</a>
					<a href="/class/delete?classid=<!--{$class.id}-->" class="mr10 J_ajax_del" title="删除">[删除]</a>
					<!--{if $class.is_recommend}-->
					<span>[已推荐]</span>
					<!--{else}-->
					<a href="/recommend/add/type/CLASS/itemid/<!--{$class.id}-->" class="mr10" title="推荐">[推荐]</a>
					<!--{/if}-->
				</td>
			</tr>
		<!--{/foreach}-->
			</tbody>
		</table>
	</div>
	<div class="pages"><!--{$pages}--></div>
	<div class="btn_wrap">
		<div class="btn_wrap_pd" id="J_sub_wrap">
			<label class="mr10"><input class="J_check_all" data-checklist="J_check_y" data-direction="y" type="checkbox">全选</label>
			<button class="btn" id="J_topic_btn" type="submit">添加到专题</button>
		</div>
	</div>
		<!--{else}-->
			<div class="not_content_mini"><i></i>啊哦，没有数据！</div>
		<!--{/if}-->
</div>
<!--{include file="../Common/footer.html"}-->
<script>
Wind.use('dialog', 'ajaxForm', function(){
	//添加到专题
	$('#J_topic_btn').on('click', function(e){
		e.preventDefault();
		tagManPop($(this));
	});

	function tagManPop(btn) {
		var classids = [];
		$(".J_check").each(function(i){
			if($(this).attr("checked") == "checked"){
				classids.push($(this).val());
			}
		})
		var url = "/class/addtopic/classids/"+classids,
			title = "添加到专题";
		btn.parent().find('span').remove();
		if(getCheckedTr()) {
			Wind.dialog.open( url ,{
				onClose : function() {
					btn.focus();
				},
				title: title
			});
		}else{
			$('<span class="tips_error">请至少选择一项</span>' ).appendTo(btn.parent()).fadeIn( 'fast' );
		}
	}
	
	//选择统计
	function getCheckedTr(){
		if($('#J_tag_list input.J_check:checked').length >= 1) {
			return true;
		}else{
			return false;
		}
	}
});
</script>
</body>
</html>
