<!doctype html>
<html>
<head>
<!--{include file="../Common/head.html"}-->
<link rel="stylesheet" href="/public/css/admin/ichart.css" type="text/css"/>
<style>
.show{display:block;}
.hide{display:none;}
</style>
</head>
<body class="J_scroll_fixed">
<div class="wrap jj">
	<div class="nav">
		<ul class="cc">
			<li class="current"><a href="#">缓存队列系统统计</a></li>
		</ul>
	</div>
	<form class="J_ajaxForm" data-role="list" action="/Index/addcache" method="post" >
	<div class="h_a">缓存队列系统统计</div>
	<div class="table_full">
		<div id='canvasDiv'></div>
	</div>
</form>
</div>
<!--{include file="../Common/footer.html"}-->
</body>
<script type="text/javascript" src="/public/js/ichart.latest.min.js"></script>
<script type="text/javascript">
$(function(){
	console.log(<!--{$cache}-->);
	var data = [
				{
					name : 'Cache',
					value: <!--{$cache}-->,
					color:'#0d8ecf',
					line_width:2
				},
				{
					name : 'Queue',
					value: <!--{$queue}-->,
					color: '#ef7707',
					line_width:2
				}
			 ];
	 
	var labels = <!--{$week}-->;
	var line = new iChart.LineBasic2D({
		render : 'canvasDiv',
		data: data,
		align:'center',
		title : 'ncmq 缓存队列统计数量趋势',
		subtitle : 'ncmq 缓存队列一周统计',
		footnote : 'ncmq 缓存队列统计',
		width : 800,
		height : 400,
		tip:{
			enable:true,
			shadow:true
		},
		legend : {
			enable : true,
			row:1,//设置在一行上显示，与column配合使用
			column : 'max',
			valign:'top',
			sign:'bar',
			background_color:null,//设置透明背景
			offsetx:-80,//设置x轴偏移，满足位置需要
			border : true
		},
		crosshair:{
			enable:true,
			line_color:'#62bce9'
		},
		sub_option : {
			label:false,
			point_hollow : false
		},
		coordinate:{
			width:640,
			height:240,
			axis:{
				color:'#9f9f9f',
				width:[0,0,2,2]
			},
			grids:{
				vertical:{
					way:'share_alike',
					value:5
				}
			},
			scale:[{
				 position:'left',	
				 start_scale:0,
				 end_scale:100,
				 scale_space:10,
				 scale_size:2,
				 scale_color:'#9f9f9f'
			},{
				 position:'bottom',	
				 labels:labels
			}]
		}
	});

//开始画图
line.draw();
});
</script>
</html>

